#container{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
}

div{
	box-sizing: border-box;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	min-width: inherit;
	min-height: inherit;
	height: auto;
}

.sub-wrapper{
	opacity: 1;
	will-change: opacity;

	&.center{
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}