.description{
	position: absolute;
	max-width: 580px;
	width: 100%;
	height: auto;
	top: 0;
	left: calc(50% - 10px);
	transform: translateY(-50%);
	background: white;
	box-shadow: 0px 7px 13px 0 rgba(0, 0, 0, 0.3);
	@media screen and (max-width: 1200px) {
		right: 50px;
		left: initial;
	}
	@media screen and (max-width: 900px) {
		left: calc(50%);
		transform: translate(-50%, -30%);
		right: initial;
		max-width: initial;
		width: 80%;
	}

	.main{
		position: relative;
		display: inline-block;
		padding: 20px 30px;
		text-align: center;

		.part{
			font-size: 0.9em;
			line-height: 1.5;
			letter-spacing: 1.4px;
			&.part-1{
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}
		.link{
			color: $darkGrey;
			text-decoration: underline;
			margin-top: 30px;
			display: inline-block;
		}
	}
}