#detail{

	.header{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		height: 700px;
		@media screen and (max-width: 1600px) {
			height: 600px;
		}
		@media screen and (max-width: 1400px) {
			height: 500px;
		}

		.thumbnail{
			z-index: -100;
		}

		.wrapper-intro{
			position: absolute;
			left: 50%;
    	transform: translateX(-50%);
			.container-intro{
				width: 90vw;
				overflow: hidden;
			}
			@media screen and (max-width: 900px) {
				.intro{
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	
	.page{
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 250px;

		.body{
			position: relative;
			width: 100%;
			margin: auto;
			overflow: hidden;
			padding: 250px 40px 0px 40px;
		}
	}

	.withBounds{
		padding: 0px 40px;
		max-width: 1200px;
	}
	.name-project{
		top: 350px;
		position: absolute;
		left: 50%;
		@media screen and (max-width: 1600px) {
			top: 300px;
		}
		@media screen and (max-width: 1400px) {
			top: 200px;
		}
		@media screen and (max-width: 900px){
			top: 200px;
			transform: translate(-50%, -50%);
		}

		.title{
			left: calc(50% - 100px);
			position: relative;
			@media screen and (max-width: 900px) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.intro{
			margin: 40px 0;
			left: 50%;
			@media screen and (max-width: 900px) {
				transform: translateX(-50%);
			}
		}
	}

	.logo{
		margin-bottom: 25px;
		width: 100%;
		max-width: 340px;
		height: auto;
	}

	.chapeau{
		width: 100%;
		position: relative;
		font-family: $linoBlack;
		text-align: left;
		font-size: 3em;
		letter-spacing: 4.8px;
		padding: 25px 0px;
		@media screen and (max-width: 900px) {
			font-size: 2em;

		}
	}
	.text{
		color: $darkGrey;
		font-family: $sabonItalic;
		font-size: 1em;
		line-height: 1.3;
		text-align: center;
		padding: 30px 0;

		a{
			text-decoration: underline;
		}
	}
	.img-handler{
		margin-top: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 980px;
		width: 100%;

		&.img-1{
			max-width: 800px;
		}
		&.img-3{
			.one-img{
				box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.3);
				margin: 0 13px;
			}
		}
		
		.one-img{
			position: relative;
			display: inline-block;
			width: 100%;
			height: auto;

			&:nth-child(even){
				z-index: 100;
			}
			&:nth-child(odd){
				width: 95%;
			}
	
			img{
				height: auto;
				width: 100%;
				top: 50%;
			}
		}
	}
}