#menu{
  .about{
    .looking-for{
      position: absolute;
      font-family: $sabonItalic;
      font-size: 0.9em;
      letter-spacing: 1.4px;
      left: 20px;
      margin-top: 10px;
      white-space: nowrap;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      // color: $darkGrey;
    }
  }
  .next{
    float: right;
    text-align: right;
    margin-bottom: 45px; 
    @media screen and (max-width: 900px) {
      float: initial;
      text-align: center;
      width: 100%;
      .shadowy{
        display: inline-block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
    }
  }
  .top{
    top: 0;
    position: fixed;
    padding: 45px 100px;
    @media screen and (max-width: 1650px) {
      padding: 25px 100px;
    }
    @media screen and (max-width: 600px) {
      padding: 25px 30px;
    }

    .link{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.pair{
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      .about{
        left: 100%;
        transform: translateX(-100%);

        .looking-for{
          left: 100%;
          transform: translateX(-100%);
        }
      }
      .project{
        left: 0;
        transform: translateX(0);
      }
    }
  }
  .bottom{
    bottom: 0;
    position: absolute;
    padding: 45px 100px;
    @media screen and (max-width: 1650px) {
      padding: 25px 100px;
    }
    @media screen and (max-width: 900px) {
      padding: 25px 30px;
    }

    .link{
      position: relative;
    }
  }
  .link{
    padding: 5px;
    display: inline-block;
    opacity: 1;
    will-change: opacity;
    transition: color 0.2s ease-in-out;
  }
	.parts{
		display: inline-block;
    height: auto;
		width: 100%;
    
	}

  .chinese-list{
    display: flex;
    justify-content: center;
    align-items: center;

    .chinese-number{
      position: relative;
      width: 50px;
      min-height: 30px;
      padding: 7px;
      margin: 3px;
      opacity: 0.3;
      transform: scale(0.9);
      transition: all 0.2s ease-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      will-change: opacity, transform;
      @media screen and (max-width: 1650px) {
        width: 40px;
        min-height: 25px;
      }

      &:hover, &.active{
        opacity: 1;
        transform: scale(1);
      }

      .chinese-string{
        position: relative;
        height: 3px;
        border-radius: 1px;
        margin-top: 8px;
        @media screen and (max-width: 1650px) {
          margin-top: 5px;
          height: 2px;
        }

      }
      &.n-0{
        .chinese-string{
          width: 100%;
        }
      }
      &.n-1{
        .chinese-string:nth-child(1){
          width: 80%;
        }
        .chinese-string:nth-child(2){
          width: 100%;
        }
      }
      &.n-2{
        .chinese-string:nth-child(1){
          width: 80%;
        }
        .chinese-string:nth-child(2){
          width: 60%;
        }
        .chinese-string:nth-child(3){
          width: 100%;
        }
      }
    }
  }
}