#project{

	.back-blur{
		z-index: -100;
		opacity: 1;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		will-change: opactity;
	}


	.name-project{
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		pointer-events: none;

		.title{
			left: 65%;
			@media screen and (max-width: 850px) {
				left: 50%;
			}
		}
		.wrapper-intro{
			left: 50%;
			position: relative;
			display: inline-block;
			@media screen and (max-width: 850px) {
				transform: translateX(-50%);
			}

			.intro{
				@media screen and (max-width: 850px) {
					margin: 50px 0;
				}
			}
		}
	}
}